.btn-primary {
  color: white;
  border-radius: 0;

  &:focus,
  &:hover {
  }
}

.btn-lg,
.btn-group-lg>.btn {
  border-radius: 0;
}


@media screen and (min-width: 768px) {

  .btn-lg,
  .btn-group-lg>.btn {
    border-radius: 0;
  }


}

body {

  font-family: FranklinGothicURW-Boo;

  .control-menu {
    background-color: white;
    background-image: none;
    border-top: 6px solid $skolverket-purple;
    color: $skolverket-purple;

    .control-menu-level-1-heading {
      color: $skolverket-purple;
    }

  }

  .control-menu-nav {

    a {
      border-left-color: $skolverket-purple;
    }

    .toast-animation {
      .pm,
      .cn {
        border-color: $skolverket-purple;
      }
    }

  }

  .product-menu {

    .company-details {

      .company-logo {
        max-width: auto;
        max-width: 100%;
      }

      .company-name {
        display: none;
      }

    }

    .sidebar-header {
      background-color: white;
      border-bottom: 1px solid white;
      color: $skolverket-purple;
    }
  }

  .lfr-form-row {
    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  .control-label .lexicon-icon-asterisk,
  .lexicon-icon-asterisk {
    color: #333;
    height: 7px;
    width: 7px;
  }

  #portlet_com_liferay_my_account_web_portlet_MyAccountPortlet {

    #roles,
    #sites,
    #userGroups,
    #displaySettings {
      display: none;
    }

  }

}
